.header-txt{
  width: 100%;
  height: auto;
  background-image: url(../images/Desktop9.png) ;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10%  0;
}


.business-wrapper{
  width: 80%;
  text-align: center;
  margin: 3% auto;
}

.business-wrapper h2{
  font-size: 3.3vw;
  line-height: 3.0;
}

.business-wrapper strong{
  border-bottom: solid 10px #1720EC ;
}

.business-txt{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.business-txt p{
  text-align: left;
  font-size: 1.2vw;
}

.business-list__nav{
  background-color: #D3DDFF;
  padding: 5% 0;
}

.business-list__nav__list1{
  background-color: #A5CEDB;
  position: relative;
  width: 60%;
  top: 5%;
  left: 10%;
  display: flex;
}

.business-list__nav__list1__item1{
  width: 100%;
  margin-top: 5%;
  margin-left: 5%;
}


.business-list__nav__one{
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 3%;
  position: relative;
  z-index: 2;
}

.business-list__nav__one__item1 img{
  width: 50%;
  height: 20.5vh;
  object-fit: cover;

}

.business-list__nav__one__item2{
  margin-right: auto;
  width: 40%;
  font-size: 1.2vw;
}

.business-list__nav__one__item2 h3{
  font-size: 1.5vw;
}



.business-list__nav__two{
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 3%;
  position: relative;
  z-index: 2;
}

.business-list__nav__two__item2{
  margin-right: auto;
  width: 40%;
  font-size: 1.2vw;
}

.business-list__nav__two__item2 h3{
  font-size: 1.5vw;
}
.colors{
  position: absolute;
  background-color: #A5CEDB;
  width: 80%;
  height: 70%;
  top: 2%;
  left: 2%;
  z-index: -1;
}