.footer{
  margin: 3% 0;
}

.footer-wrapper{
  width: 100%;
  display: flex;
}

.footer-wrapper__left{
width: 30%;
margin-left: 3%;
}

.footer-wrapper__left p{
  font-size: 3.3vw;
}

.footer-wrapper__right{
  width:70%;
}

.footer-wrapper__right__list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20%;
  font-size: 1.4vw;
}

.footer-wrapper__txt{
  margin-left: 3%;
  font-size: 1.8vw;
}

.footer-wrapper__end{
  text-align: center;
  font-size: 1.0vw;
}