.footer{
  margin: 1% 0;
}

.footer-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
}

.footer-wrapper__left{
width: 30%;
margin-left: 3%;
}

.footer-wrapper__left p{
  font-size: 3rem;
}

.footer-wrapper__right{
  width:70%;
}

.footer-wrapper__right__list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20%;
  font-size: 1.2rem;
}

.footer-wrapper__txt{
  margin-left: 3%;
  font-size: 1.2rem;
}

.footer-wrapper__end{
  text-align: center;
  font-size: 1rem;
}

.header-list{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  top: 0;
  background:linear-gradient(to right,#fff,#f3f3f3);
  /* padding: 1% auto; */
}

.header-list__item a{
  color: #555;
  font-size: 1.2rem;
}