.header-txt{
  width: 100%;
  height: auto;
  background-image: url(../images/Desktop8.png) ;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10%  0;
}

.company-wrapper{
  width: 90%;
  background-color: #F9F3F4;
  margin: 0 auto;
  border: solid 3px #333;
  display: flex;
}

.company-left{
  width: 40%;
  padding: 3% 5% 5% 3%;
  height: auto;
  text-align: center;
  margin: auto;
}

.company-left img{
  width: 30vw;
  height: 35vh;
  border:solid 5px #333;
}

.company-right{
  width: 50%;
  padding-top: 3%;
  margin:0 auto
}


.company-right__ttl2{
 margin: auto;
}

.company-right__ttl2 h2{
  font-size: 2.5vw;
  margin-bottom: 25px;
}

.company-right__ttl2 p{
  font-size: 1.2vw;
  padding: 2% 0;
}

.company-right__txt{
  margin: 25px 2% 3% auto;
}

.company-right__txt small{
  display: block;
  color: darkgray;
  font-size: 1.2vw;
}

.company-right__txt p{
  font-size: 1.8vw;
  line-height: 2.0;
  font-weight: bold;
}

.company-info{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #333;
  font-size: 3.3vw;
  padding: 10%;
}

.company-info h2{
  line-height: 0.5;
}

.company-info small{
  font-size: 1.2vw;
  -webkit-text-stroke: 2px #333;
}

.company-info__list{
text-align: center;
font-size: 1.8vw;
}

.company-info__list__item{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid 3px #333;
}

.company-info__list__item span{
  width: 30%;
  color: #333;
  line-height: 1.5;
  padding: 3% 0 3% 2%;
}

.company-info__list__item p{
  width: 70%;
  color: #333;
  line-height: 1.8;
  
}

.header-list__item a{
  color: #444;
  font-size: 1.4vw;
}

