.header-txt{
  width: 100%;
  background-image: url(../images/Desktop12.png) ;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10%  0;
}

.recruit-wrapper{
  width: 100%;
  margin: 3% 5%;
  display: flex;
}

.recruit-wrapper__left{
 width: 45%;
}

.recruit-wrapper__left img{
  width: 40vw;
  height: 52vh;
}

.recruit-wrapper__right{
  width: 50%;
  margin: 0 5%;
  text-align: center;
}

.recrui-wrapper__right__ttl{
  line-height: 2.0;
  font-size: 1.9vw;
}

.recrui-wrapper__right__ttl h2{
  font-size: 2.2vw;
  padding-bottom: 5%;
}


.recruit-wrapper__right__txt{
  margin: 3% 0;
  line-height: 2.0;
  font-weight: bold;
}

.recruit-main{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.recruit-main h2{
padding-bottom: 5%;
font-size: 3.0vw;
}

.recruit-main__list{
  width: 90%;
  margin: 0 auto;
}

.recruit-main__list__item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.recruit-main__list__item1 img{
  width: 20vw;
  border-radius: 50%;
  border: solid 3px #333;
}

.recruit-main__list__item1{
  width: 30%;
  padding: 2%;
  margin: 0 auto;
}

.recruit-main__list__item1 p{
  padding: 5%;
  font-size: 1.9vw;
  font-weight: bold;
}

.recruit-sub{
margin: 5% 0;
}

.recruit-sub p{
  font-size: 1.9vw;
}
.btn{
  width: 20%;
  background-color: #35399B;
  border-radius: 5%;
  border: solid 5px #ffffff;
  padding: 2% 4%;
  font-weight: bold;
  margin-right: auto;
  text-align: center;
  margin: 0 auto;
}

.btn a{
  color: #ffffff;
}