.header-txt{
  width: 100%;
  height: auto;
  background-image: url(../images/Desktop10.png) ;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10%  0;
}

.works{
  width: 100%;
  margin: 0 auto;
  background-color: #35399B;
  /* z-index: -2; */
  position: relative;
}

.works-wrapper{
  display: flex;
  width: 100%;
  /* position: relative; */
}

.works-wrapper__left{
  width: 35vw;
  height: 100%;
  margin:0 5%;
  padding-bottom: 20%;
  z-index: 1;
}

.page{
  width: 60%;
  height: 100%;
  background-color: #A5CED8;
  position: absolute;
  bottom: 0;
  left: 5%;
  z-index:1;
}

.works-wrapper__list{
  width: auto;
  height: auto;
  padding:2%;
  z-index: 2;
  margin-left: 5%;
  position: relative;
}

.works-wrapper__list p{
  color: #ffffff;
  -webkit-text-stroke: 4px #333;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.0;
}

.works-wrapper__list small{
  color: #ffffff;
  font-size: 1.2rem;
  -webkit-text-stroke: 2px #1720EC;
  line-height: 1;
}

.works-wrapper__list2{
  color: #ffffff;
  font-size: 1rem;
  margin-top: 10%;
  width: 45%;
  margin-left: 15%;
} 

.works-wrapper__list2 p{
  font-weight: 100;
}

.works-wrapper__right{
  width: 100%;
  
  
  z-index: 2;
  /* padding-right: 20%; */
}

.works-wrapper__right1{
  display: flex;
  margin: 2% ;
  align-items: center;
}
.works-wrapper__right1__img img{
  border-radius: 50%; 
  border: solid 3px #333;
  margin: 2% auto;
  height: 20vh;
  width: 20vh;
}

.works-wrapper__right1__img{
  margin: 2%;
}


.works-wrapper__right1__txt{
  width: 80%;
  height: auto;
  background-color: #ffffff;
  margin: 2% 5%;
  padding: 3% 2% 3% 2%;
  border: solid 2px #333;
  text-align: center;

}

.works-wrapper__right1__txt p{
  text-align: center;
  margin:2% 0;
font-weight: bold;
font-size: 1.3rem;
}

.works-wrapper__right1__txt small{
  text-align: center;
  font-size: 1rem;
  font-weight: 100;

}


.works-wrapper__right2{
  display: flex;
  margin: 2% ;
  align-items: center;
}

.works-wrapper__right2__img{
  margin: 2% ;
}

.works-wrapper__right2__img img{
  border-radius: 50%; 
  border: solid 3px #333;
  margin: 2% auto;
  height: 20vh;
  width: 20vh;
}

.works-wrapper__right2__txt{
  width: 50%;
  height: 80%;
  background-color: #ffffff;
  margin: 2% auto;
  padding: 3% 2% 3% 2%;
  border: solid 2px #333;
}

.works-wrapper__right2__txt p{
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 64px;
}

.works-wrapper__right2__txt small{
  text-align: center;
  font-size: 48px;
  font-weight: 100;

}

.works-wrapper__right3{
  display: flex;
  margin: 2% ;
  align-items: center;
}

.works-wrapper__right3__img{
  margin: 2% ;
}


.works-wrapper__right3__img img{
  border-radius: 50%; 
  border: solid 3px #333;
  margin: 2% auto;
  height: 20vh;
  width: 20vh;
}


.works-wrapper__right3__txt{
  width: 50%;
  height: 80%;
  background-color: #ffffff;
  margin: 2% auto;
  padding: 3% 2% 3% 2%;
  border: solid 2px #333;
}

.works-wrapper__right3__txt p{
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 1.7vw;
}

.works-wrapper__right3__txt small{
  text-align: center;
  font-size: 1.6vw;
  font-weight: 100;
}

.header-list__item a{
  color: #444;
  font-size: 1.2rem;
}